<div class="tp-banner-container">
      <div class="tp-banner-slider">
        <ul>
          <li data-masterspeed="700" data-slotamount="7" data-transition="fade"><img src="./img/background-1.png"
              data-lazyload="./img/background-1.png" data-bgposition="center" alt="" data-kenburns="on"
              data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"
              data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10">
            <div data-x="['center','center','center','center']" data-y="center"
              data-transform_in="x:-150px;opacity:0;s:1500;e:Power3.easeInOut;"
              data-transform_out="x:150px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
              data-start="400" class="tp-caption sl-content">
              <div class="sl-title-top">Welcome to</div>
              <div class="sl-title">PAP</div>
              <div class="sl-title-bot">Starting <span>$105</span> per night</div>
            </div>
          </li>
          <li data-masterspeed="700" data-transition="fade"><img src="./img/background-2.png"
              data-lazyload="./img/background-2.png" data-bgposition="center" alt="" data-kenburns="on"
              data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"
              data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10">
            <div data-x="['center','center','center','center']" data-y="center"
              data-transform_in="y:-150px;opacity:0;s:1500;e:Power3.easeInOut;"
              data-transform_out="y:150px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
              data-start="400" class="tp-caption sl-content">
              <div class="sl-title-top">Welcome to</div>
              <div class="sl-title">Cap Haitien</div>
              <div class="sl-title-bot">Starting <span>$255</span> per night</div>
            </div>
          </li>
        </ul>
      </div>
      <!-- slider info-->
      <div class="slider-info-wrap clearfix">
        <div class="slider-info-content">
          <div class="slider-info-item">
            <div class="info-item-media"><img src="./img/hotels/hotels-1.png" data-at2x="./img/hotels/hotels-1.png" alt>
              <div class="info-item-text">
                <!-- <div class="info-price font-4"><span>start per night</span> $105</div> -->
                <!-- <div class="info-temp font-4"><span>local temperature</span> 36° / 96.8°</div> -->
                <p class="info-text">Citadelle Laferrière is the largest fortress in the Americas. </p>
              </div>
            </div>
            <div class="info-item-content">
              <div class="main-title">
                <h3 class="title"><span class="font-4">Citadel</span> La Ferriere</h3>
                <!-- <div class="price"><span>$105</span> per night</div><a href="hotels-details.html" class="button">Details</a> -->
              </div>
            </div>
          </div>
          <div class="slider-info-item">
            <div class="info-item-media"><img src="./img/hotels/hotels-2.png" data-at2x="./img/hotels/hotels-2.png" alt>
              <div class="info-item-text">
                <!-- <div class="info-price font-4"><span>start per night</span> $55</div> -->
                <!-- <div class="info-temp font-4"><span>local temperature</span> 31° / 87.8°</div> -->
                <p class="info-text">The early 20th century Notre Dame Cathedral (also known as the Our Lady of the
                  Assumption Cathedral</p>
              </div>
            </div>
            <div class="info-item-content">
              <div class="main-title">
                <h3 class="title"><span class="font-4">Cathedrale Du</span> Cap-Haitien</h3>
                <!-- <div class="price"><span>$55</span> per night</div><a href="hotels-details.html" class="button">Details</a> -->
              </div>
            </div>
          </div>
          <div class="slider-info-item">
            <div class="info-item-media"><img src="./img/hotels/hotels-3.png" data-at2x="./img/hotels/hotels-3.png" alt>
              <div class="info-item-text">
                <!-- <div class="info-price font-4"><span>start per night</span> $95</div> -->
                <!-- <div class="info-temp font-4"><span>local temperature</span> 41° / 105.8°</div> -->
                <p class="info-text">Jacmel is known as being the most creative and artistic city in Haiti. </p>
              </div>
            </div>
            <div class="info-item-content">
              <div class="main-title">
                <h3 class="title"><span class="font-4">Bassin Bleu</span> Jacmel</h3>
                <!-- <div class="price"><span>$95</span> per night</div><a href="hotels-details.html" class="button">Details</a> -->
              </div>
            </div>
          </div>
          <div class="slider-info-item">
            <div class="info-item-media"><img src="./img/hotels/hotels-4.png" data-at2x="./img/hotels/hotels-4.png" alt>
              <div class="info-item-text">
                <!-- <div class="info-price font-4"><span>start per night</span> $80</div> -->
                <!-- <div class="info-temp font-4"><span>local temperature</span> 25° / 77°</div> -->
                <p class="info-text">The south coast is full of hidden treasures waiting to be discovered.</p>
              </div>
            </div>
            <div class="info-item-content">
              <div class="main-title">
                <h3 class="title"><span class="font-4">Saut Mathurine,</span> Les Cayes</h3>
                <!-- <div class="price"><span>$80</span> per night</div><a href="hotels-details.html" class="button">Details</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ! slider-info-->
    </div>