<!-- gallery section-->
<section class="small-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h6 class="title-section-top font-4">Happy Memories</h6>
                <h2 class="title-section"><span>Photo</span> Gallery</h2>
                <div class="cws_divider mb-25 mt-5"></div>
                <p>Vestibulum feugiat vitae tortor ut venenatis. Sed cursus, purus eu euismod bibendum, diam nisl
                    suscipit
                    odio, vitae ultrices mauris dolor quis mauris. Curabitur ac metus id leo maximus porta.</p>
            </div>
            <div class="col-md-4"><i class="flaticon-suntour-photo title-icon"></i></div>
        </div>
        <div class="row portfolio-grid">
            <!-- portfolio item-->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="portfolio-item big">
                    <!-- portfolio image--><a href="img/gallery/gallery-1.png" class="fancy">
                        <div class="portfolio-media"><img src="img/gallery/gallery-1.png"
                                data-at2x="img/gallery/gallery-1.png" alt></div>
                    </a>
                    <div class="links"><a href="img/gallery/gallery-1.png" class="fancy"><i
                                class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <!-- portfolio item-->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="portfolio-item">
                    <!-- portfolio image--><a href="img/gallery/gallery-2.png" class="fancy">
                        <div class="portfolio-media"><img src="img/gallery/gallery-2.png"
                                data-at2x="img/gallery/gallery-2.png" alt></div>
                    </a>
                    <div class="links"><a href="img/gallery/gallery-2.png" class="fancy"><i
                                class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <!-- portfolio item-->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="portfolio-item">
                    <!-- portfolio image--><a href="img/gallery/gallery-3.png" class="fancy">
                        <div class="portfolio-media"><img src="img/gallery/gallery-3.png"
                                data-at2x="img/gallery/gallery-3.png" alt></div>
                    </a>
                    <div class="links"><a href="img/gallery/gallery-3.png" class="fancy"><i
                                class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <!-- portfolio item-->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="portfolio-item">
                    <!-- portfolio image--><a href="img/gallery/gallery-4.png" class="fancy">
                        <div class="portfolio-media"><img src="img/gallery/gallery-4.png"
                                data-at2x="img/gallery/gallery-4.png" alt></div>
                    </a>
                    <div class="links"><a href="img/gallery/gallery-4.png" class="fancy"><i
                                class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <!-- portfolio item-->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="portfolio-item">
                    <!-- portfolio image--><a href="img/gallery/gallery-4.png" class="fancy">
                        <div class="portfolio-media"><img src="img/gallery/gallery-4.png"
                                data-at2x="img/gallery/gallery-4.png" alt></div>
                    </a>
                    <div class="links"><a href="img/gallery/gallery-4.png" class="fancy"><i
                                class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <!-- portfolio item-->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="portfolio-item">
                    <!-- portfolio image--><a href="img/gallery/gallery-5.png" class="fancy">
                        <div class="portfolio-media"><img src="img/gallery/gallery-5.png"
                                data-at2x="img/gallery/gallery-5.png" alt></div>
                    </a>
                    <div class="links"><a href="img/gallery/gallery-5.png" class="fancy"><i
                                class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <!-- portfolio item-->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="portfolio-item">
                    <!-- portfolio image--><a href="img/gallery/gallery-6.png" class="fancy">
                        <div class="portfolio-media"><img src="img/gallery/gallery-6.png"
                                data-at2x="img/gallery/gallery-6.png" alt></div>
                    </a>
                    <div class="links"><a href="img/gallery/gallery-6.png" class="fancy"><i
                                class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <!-- portfolio item-->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="portfolio-item">
                    <!-- portfolio image--><a href="img/gallery/gallery-7.png" class="fancy">
                        <div class="portfolio-media"><img src="img/gallery/gallery-7.png"
                                data-at2x="img/gallery/gallery-7.png" alt></div>
                    </a>
                    <div class="links"><a href="img/gallery/gallery-7.png" class="fancy"><i
                                class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <!-- portfolio item-->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="portfolio-item">
                    <!-- portfolio image--><a href="img/gallery/gallery-8.png" class="fancy">
                        <div class="portfolio-media"><img src="img/gallery/gallery-8.png"
                                data-at2x="img/gallery/gallery-8.png" alt></div>
                    </a>
                    <div class="links"><a href="img/gallery/gallery-8.png" class="fancy"><i
                                class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <!-- portfolio item-->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="portfolio-item big">
                    <!-- portfolio image--><a href="img/gallery/gallery-9.png" class="fancy">
                        <div class="portfolio-media"><img src="img/gallery/gallery-9.png"
                                data-at2x="img/gallery/gallery-9.png" alt></div>
                    </a>
                    <div class="links"><a href="img/gallery/gallery-9.png" class="fancy"><i
                                class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ! gallery section-->