 <!-- page section parallax-->
    <section class="small-section cws_prlx_section bg-gray-40">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h2 class="title-section-top alt">About</h2>
            <h2 class="title-section alt mb-20"><span>Le Paradis</span>Haitien</h2>
            <p class="color-white">Our mission is to showcase Haiti's hidden beauty with the goal to promote that
              Haitian culture through our packages, while creating jobs for local communities. Join us on amazing
              Haitian cultural experiences where we take care of everything from transportation, accommodation &
              activities. Making sure you truly enjoy an unforgettable trip around Haiti. We provide authentic cultural
              experiences for groups and private clients and also we can plan your private trips, family trips,
              honeymoon trips etc.</p>
            <div class="cws_divider short mb-30 mt-30"></div>
            <h3 class="font-5 color-white font-medium">Gladimy Jean</h3>
          </div>
          <div class="col-md-7">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.youtube.com/embed/lYO5nBQI7Mk" class="embed-responsive-item"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ! page section parallax-->