 <!-- page section parallax-->
    <section class="small-section cws_prlx_section bg-gray-40">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h2 class="title-section-top alt">About</h2>
            <h2 class="title-section alt mb-20"><span>{{aboutSection.0.firstTitle}}</span>{{aboutSection.0.secondTitle}}</h2>
            {{#each aboutSection.0.description.content}}
              <p class="color-white">{{this.content.0.value}}</p>
            {{/each}}
            <div class="cws_divider short mb-30 mt-30"></div>
            <h3 class="font-5 color-white font-medium">aboutSection.0.founderName</h3>
          </div>
          <div class="col-md-7">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="{{aboutSection.0.youtubeEmbeddedLink}}" class="embed-responsive-item"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ! page section parallax-->