{{>header}}
<div class="content-body">
    {{>banner}}
    {{>specials-offer}}
    {{>counter}}
    {{>paralax}}
    {{>recommended}}
    {{>testimonials}}
    {{>gallery}}
    {{>latest-news}}
    {{>news-letter}}
</div>

{{>footer}}