{{>header}}
<div class="content-body">
    {{>banner}}

    {{!-- Welcome Section --}}
    {{#if settings.0.isWelcomeVisible}}
        {{>specials-offer destination=destination}}
    {{/if}}
    
    
    {{!-- Destination Section --}}
    {{#if settings.0.isStatisticVisible}}
        {{>counter}}
    {{/if}}

    {{>paralax aboutSection=aboutSection}}

    {{!-- Recommended Hotels Section --}}
    {{#if settings.0.isRecommendedHotelsVisible}}
        {{>recommended}}
    {{/if}}
    

    {{!-- Testimonials Section --}}
    {{#if settings.0.isTestimonialsVisible}}
        {{>testimonials testimonials=testimonials}}
    {{/if}}


    {{!-- Photo Gallery Section --}}
    {{#if settings.0.isPhotoGallery}}
        {{>gallery}}
    {{/if}}


    {{!-- Blog Post Section --}}
   {{#if settings.0.isLatestBlogVisible}}
        {{>latest-news}}
   {{/if}}


    {{>news-letter}}
</div>

{{>footer}}